<footer class="footer footer-center p-4 mt-auto fixed bottom-0 bg-base-200 text-base-content">
<!--  <div class="grid grid-flow-col gap-4">-->
<!--    <a class="link link-hover">About us</a>-->
<!--    <a class="link link-hover">Contact</a>-->
<!--    <a class="link link-hover">Jobs</a>-->
<!--    <a class="link link-hover">Press kit</a>-->
<!--  </div>-->
  <div>
    <div class="grid grid-flow-col gap-4">
      <p>Made by Christopher Oswald</p>
      <a href="https://github.com/cesoun" target="_blank"><i class="fa-github-alt fa-brands"></i></a>
    </div>
<!--    <div class="grid grid-flow-row gap-4">-->
<!--      <a href="https://www.digitalocean.com/?refcode=e0b8480270bf&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">-->
<!--        <p>Powered by DigitalOcean <i class="fa-brands fa-digital-ocean"></i></p>-->
<!--      </a>-->
<!--    </div>-->
  </div>
</footer>
