<footer class="footer footer-center p-4 bg-base-200 text-base-content">
<!--  <div class="grid grid-flow-col gap-4">-->
<!--    <a class="link link-hover">About us</a>-->
<!--    <a class="link link-hover">Contact</a>-->
<!--    <a class="link link-hover">Jobs</a>-->
<!--    <a class="link link-hover">Press kit</a>-->
<!--  </div>-->
  <div>
    <div class="grid grid-flow-col gap-4">
      <p>Made by Christopher Oswald</p>
      <a href="https://github.com/cesoun" target="_blank"><i class="fa-github-alt fa-brands"></i></a>
    </div>
  </div>
</footer>
