<footer class="footer p-10 sticky bottom-0 bg-base-200 text-base-content">
  <div>
    <p>Chronicle</p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
</footer>

<!--<footer class="footer footer-center p-4 mt-auto bg-base-200 text-base-content">-->
<!--&lt;!&ndash;  <div class="grid grid-flow-col gap-4">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="link link-hover">About us</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="link link-hover">Contact</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="link link-hover">Jobs</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="link link-hover">Press kit</a>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div>-->
<!--    <div class="grid grid-flow-col gap-4">-->
<!--      <p>Made by Christopher Oswald</p>-->
<!--      <a href="https://github.com/cesoun" target="_blank"><i class="fa-github-alt fa-brands"></i></a>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="grid grid-flow-row gap-4">&ndash;&gt;-->
<!--&lt;!&ndash;      <a href="https://www.digitalocean.com/?refcode=e0b8480270bf&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge">&ndash;&gt;-->
<!--&lt;!&ndash;        <p>Powered by DigitalOcean <i class="fa-brands fa-digital-ocean"></i></p>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
<!--</footer>-->
