<section class="flex flex-col max-w-prose mx-auto gap-10">
  <div class="alert alert-error shadow-lg" *ngIf="didError">
    <div>
      <span>{{errorMessage}}</span>
    </div>
  </div>

  <button class="btn btn-ghost loading" *ngIf="!user && isLoading"></button>

  <article class="prose prose-ul:list-none prose-a:no-underline" *ngIf="!didError && user">
    <h1 class="text-3xl">{{user.username}}</h1>
    <ul class="text-sm text-secondary">
      <li>id: {{user.id}}</li>
      <li>role: {{user.role}}</li>
      <li *ngIf="user.first_name && user.last_name">Full: {{user.first_name + ' ' + user.last_name}}</li>
      <li *ngIf="user.first_name && !user.last_name">First: {{user.first_name}}</li>
      <li *ngIf="!user.first_name && user.last_name">Last: {{user.last_name}}</li>
    </ul>
  </article>

  <div>
    <a routerLink="edit" *ngIf="user && this.authService.getUsernameFromToken() === user.username" class="btn btn-sm btn-info">Edit</a>
  </div>

  <app-recent-posts></app-recent-posts>
</section>


