<nav aria-label="pagination">
  <ul class="flex gap-x-2">
    <li>
      <button
        class="btn btn-sm btn-ghost"
        [attr.aria-disabled]="currentOffset === 0"
        [disabled]="currentOffset === 0"
        (click)="onPrev()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </li>
    <li>
      <button
        class="btn btn-sm btn-ghost"
        [attr.aria-disabled]="currentOffset >= totalItems || currentOffset+currentLimit >= totalItems"
        [disabled]="currentOffset >= totalItems || currentOffset+currentLimit >= totalItems"
        (click)="onNext()">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </li>
  </ul>
</nav>
