<section class="flex flex-col max-w-prose mx-auto">
  <article class="prose">
    <h1>Settings</h1>
    <p></p>
  </article>

  <!-- User Loading -->
  <button class="btn btn-ghost loading" *ngIf="isLoadingUser"></button>

  <!-- Error -->
  <div class="alert alert-error shadow-lg" *ngIf="didError">
    <div>
      <p>{{this.errorMessage}}</p>
    </div>
  </div>
  <!-- Form Invalid -->
  <div class="alert alert-warning shadow-lg" *ngIf="isInvalid">
    <div>
      <p>Please check inputs and try again...</p>
    </div>
  </div>

  <form *ngIf="settingsForm" [formGroup]="settingsForm" (ngSubmit)="doUserUpdate()">
    <!-- Optional -->
    <div class="pb-8">
      <div class="divider">
        <span>Optional</span>
      </div>
      <!-- Username -->
      <div class="form-control">
        <label class="label" for="username">
          <span class="label-text">Username</span>
        </label>
        <input [class.input-error]="settingsForm.get('username')?.errors" [class.input-success]="!settingsForm.get('username')?.errors" [maxlength]="usernameMax"
               [minlength]="usernameMin"
               [pattern]="usernamePattern"
               class="input input-bordered"
               formControlName="username"
               id="username"
               placeholder="superuser41"
               type="text">
        <label *ngIf="settingsForm.get('username')?.errors" class="label" for="username">
          <span class="label-text-alt text-error">Letters a-Z, 0-9 only please.</span>
        </label>
      </div>
      <div class="py-8">
        <!-- Firstname -->
        <div class="form-control">
          <label class="label" for="firstname">
            <span class="label-text">First Name</span>
          </label>
          <input [class.input-error]="settingsForm.get('firstname')?.errors" [class.input-success]="!settingsForm.get('firstname')?.errors" [maxlength]="stdMax"
                 [minlength]="stdMin"
                 class="input input-bordered"
                 formControlName="firstname"
                 id="firstname"
                 placeholder="John"
                 type="text">
          <label *ngIf="settingsForm.get('firstname')?.errors" class="label" for="firstname">
            <span class="label-text-alt text-error">Max 255 Characters</span>
          </label>
        </div>
        <!-- Lastname -->
        <div class="form-control">
          <label class="label" for="lastname">
            <span class="label-text">Last Name</span>
          </label>
          <input [class.input-error]="settingsForm.get('lastname')?.errors" [class.input-success]="!settingsForm.get('lastname')?.errors" [maxlength]="stdMax"
                 [minlength]="stdMin"
                 class="input input-bordered"
                 formControlName="lastname"
                 id="lastname"
                 placeholder="Doe"
                 type="text">
          <label *ngIf="settingsForm.get('lastname')?.errors" class="label" for="lastname">
            <span class="label-text-alt text-error">Max 255 Characters</span>
          </label>
        </div>
      </div>
      <!-- New Password -->
      <div class="form-control">
        <label class="label" for="new-password">
          <span class="label-text">New Password</span>
          <span class="label-text-alt"><input (click)="togglePassword()" [checked]="showPassword" class="toggle toggle-xs"
                                              type="checkbox"></span>
        </label>
        <input [class.input-error]="settingsForm.get('newPassword')?.errors" [class.input-success]="!settingsForm.get('newPassword')?.errors" [maxlength]="passwordMax"
               [minlength]="passwordMin"
               [pattern]="passwordPattern"
               [type]="showPassword ? 'text' : 'password'"
               class="input input-bordered"
               formControlName="newPassword"
               id="new-password"
               placeholder="********">
        <label *ngIf="settingsForm.get('newPassword')?.errors" class="label" for="new-password">
          <span class="label-text-alt text-error">Need 3/4 of these: [0-9], [a-zA-Z], [`~!@#,...]. Len: 8-32</span>
        </label>
      </div>
      <!-- Confirm New Password -->
      <div class="form-control">
        <label class="label" for="confirm-new-password">
          <span class="label-text">Confirm New Password</span>
        </label>
        <input [class.input-error]="settingsForm.get('confirmNewPassword')?.errors" [class.input-success]="!settingsForm.hasError('passwordMismatch')" [maxlength]="passwordMax"
               [minlength]="passwordMin"
               [pattern]="passwordPattern"
               [type]="showPassword ? 'text' : 'password'"
               class="input input-bordered"
               formControlName="confirmNewPassword"
               id="confirm-new-password"
               placeholder="********">
        <label *ngIf="settingsForm.get('confirmNewPassword')?.hasError('matching')" class="label" for="confirm-new-password">
          <span class="label-text-alt text-error">Passwords do not match!</span>
        </label>
      </div>
    </div>

    <!-- Required -->
    <div class="divider">
      <span>Required</span>
    </div>

    <!-- Current Password -->
    <div class="form-control">
      <label class="label" for="password">
        <span class="label-text">Current Password</span>
        <span class="label-text-alt">Required</span>
      </label>
      <input [class.input-error]="settingsForm.get('password')?.errors" [class.input-success]="!settingsForm.get('password')?.errors" [maxlength]="passwordMax"
             [minlength]="passwordMin"
             [pattern]="passwordPattern"
             [type]="showPassword ? 'text' : 'password'"
             class="input input-bordered"
             formControlName="password"
             id="password"
             placeholder="********"
             required>
      <label *ngIf="settingsForm.get('password')?.errors" class="label" for="password">
        <span class="label-text-alt text-error">Need 3/4 of these: [0-9], [a-zA-Z], [`~!@#,...]. Len: 8-32</span>
      </label>
    </div>

    <!-- Submit button -->
    <div class="grid grid-cols-2 gap-12 pt-8">
      <button type="submit" class="btn btn-primary col-end-3" [class.loading]="isBusy" [disabled]="this.isBusy || !settingsForm.valid">
        {{!isBusy ? 'Update' : ''}}
      </button>
    </div>
  </form>
</section>
