<div class="flex justify-center gap-1 my-1 w-full">
  <kbd class="kbd transition-all" id="1">1</kbd>
  <kbd class="kbd transition-all" id="2">2</kbd>
  <kbd class="kbd transition-all" id="3">3</kbd>
  <kbd class="kbd transition-all" id="4">4</kbd>
  <kbd class="kbd transition-all" id="5">5</kbd>
  <kbd class="kbd transition-all" id="6">6</kbd>
  <kbd class="kbd transition-all" id="7">7</kbd>
  <kbd class="kbd transition-all" id="8">8</kbd>
  <kbd class="kbd transition-all" id="9">9</kbd>
  <kbd class="kbd transition-all" id="0">0</kbd>
  <kbd class="kbd transition-all" id="backspace"><i class="fa-solid fa-delete-left"></i></kbd>
</div>
<div class="flex justify-center gap-1 my-1 w-full">
  <kbd class="kbd transition-all" id="q">q</kbd>
  <kbd class="kbd transition-all" id="w">w</kbd>
  <kbd class="kbd transition-all" id="e">e</kbd>
  <kbd class="kbd transition-all" id="r">r</kbd>
  <kbd class="kbd transition-all" id="t">t</kbd>
  <kbd class="kbd transition-all" id="y">y</kbd>
  <kbd class="kbd transition-all" id="u">u</kbd>
  <kbd class="kbd transition-all" id="i">i</kbd>
  <kbd class="kbd transition-all" id="o">o</kbd>
  <kbd class="kbd transition-all" id="p">p</kbd>
</div>
<div class="flex justify-center gap-1 my-1 w-full">
  <kbd class="kbd transition-all" id="a">a</kbd>
  <kbd class="kbd transition-all" id="s">s</kbd>
  <kbd class="kbd transition-all" id="d">d</kbd>
  <kbd class="kbd transition-all" id="f">f</kbd>
  <kbd class="kbd transition-all" id="g">g</kbd>
  <kbd class="kbd transition-all" id="h">h</kbd>
  <kbd class="kbd transition-all" id="j">j</kbd>
  <kbd class="kbd transition-all" id="k">k</kbd>
  <kbd class="kbd transition-all" id="l">l</kbd>
</div>
<div class="flex justify-center gap-1 my-1 w-full">
  <kbd class="kbd transition-all" id="z">z</kbd>
  <kbd class="kbd transition-all" id="x">x</kbd>
  <kbd class="kbd transition-all" id="c">c</kbd>
  <kbd class="kbd transition-all" id="v">v</kbd>
  <kbd class="kbd transition-all" id="b">b</kbd>
  <kbd class="kbd transition-all" id="n">n</kbd>
  <kbd class="kbd transition-all" id="m">m</kbd>
  <kbd class="kbd transition-all" id="/">/</kbd>
</div>
